<!DOCTYPE html>

<html>

<head>


	<link rel="stylesheet/less" type="text/css" href="/admin/style.less">
	<script src="/admin//js/less.js" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
	<script src="/admin/js/epiceditor.min.js"></script>


	<title></title>
</head>

<body>

<div id="container">
	<nav>
		<ul>
			<li><a href="/admin/page/new"><button class="button">Vytvořit</button></a></li>
			<li class="m"><a href="/admin">Přehled</a></li>
			<li><a href="/admin/menu">Menu</a></li>
			<li><a href="/admin/stats">Statistiky</a></li>
		</ul>

	</nav>

<div id="main">
	<article class="edit">
		<h1>Stránka</h1>

		<form action="update">

			<label>Title</label>
			<input type="text" name="title" value="<%- edit.title%>">

			<label>URL</label>
			<input type="text" name="url" value="<%- edit.url%>">


			<label>Description</label>
			<input type="text" name="description" value="<%- edit.description%>">


			<input type="hidden" name="headline" value="<%- edit.headline%>">


			<input type="hidden" name="lurl" value="<%- url%>">



			<textarea id="page-content" name="page" ><%- edit.page%></textarea>

			<label>page</label>
			<div id="epiceditor"></div>

		<input type="submit" class="button submit">
		</form>
		<div class="clear"></div>


	</article>




</div>

	<div class="clear"></div>


</div>


<script>

	var opts = {
		container: 'epiceditor',
		textarea: 'page-content',
		basePath: 'epiceditor',
		clientSideStorage: false,
		localStorageName: 'epiceditor',
		useNativeFullscreen: true,
		parser: marked,
		file: {
			name: 'epiceditor',
			defaultContent: '',
			autoSave: 100
		},
		theme: {
			base: '/themes/base/epiceditor.css',
			preview: '/themes/preview/github.css',
			editor: '/themes/editor/epic-dark.css'
		},
		button: {
			preview: true,
			fullscreen: true,
			bar: "auto"
		},
		focusOnLoad: false,
		shortcut: {
			modifier: 18,
			fullscreen: 70,
			preview: 80
		},
		string: {
			togglePreview: 'Toggle Preview Mode',
			toggleEdit: 'Toggle Edit Mode',
			toggleFullscreen: 'Enter Fullscreen'
		},
		autogrow: true
	}
	var editor = new EpicEditor(opts);
editor.load();


	$(".submit").hover(function(){
		//console.log(editor.getElement('editor').body);
	//$("#page-content").val(editor.getElement('editor').body.innerHTML);
	});

</script>


</body>

</html>