<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet/less" type="text/css" href="/admin/style.less">
	<script src="/admin//js/less.js" type="text/javascript"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
	<script src="/admin/js/epiceditor.min.js"></script>


	<title></title>
</head>

<body>

<div id="container">
	<nav>
		<ul>
			<li><a href="/admin/page/new"><button class="button">Vytvořit</button></a></li>
			<li class="m"><a href="/admin">Přehled</a></li>
			<li><a href="/admin/menu">Menu</a></li>
			<li><a href="/admin/stats">Statistiky</a></li>
		</ul>

	</nav>

<div id="main" class="menu">
	<h1>Menu</h1>

	<% menu.forEach(function(m){ %>
	<article>

		<input type="text" class="menu-name" value="<%= m.name%>" menu-id="<%= m._id%>" placeholder="Název">
		<input type="text" class="menu-url" placeholder="url" menu-id="<%= m._id%>" value="<%= m.url%>">
		<a href="menu/remove/<%= m._id%>"><button class="button delete">Smazat</button></a>
	</article>

	<% });%>


<br>
	<h1>Přidat položku</h1>
	<form action="add">
	<article>

		<input type="text" name="name" class="menu-name" placeholder="Název">
		<input type="text"  name="url" class="menu-url" placeholder="url">
		<a href="ads"><button class="button">Přidat</button></a>
	</article>
</form>

</div>

	<div class="clear"></div>


</div>


<script>

	$(".menu-name").change(function(){
		//console.log($(this).attr("menu-id"));
		//console.log($(this).val());
		$.ajax({
			method: "GET",
			url: "menu/update",
			data: { id: $(this).attr("menu-id"), name: $(this).val() }
		})
		.done(function( msg ) {
					//alert( "Data Saved: " + msg );
					console.log("ok");
		});
	});

	$(".menu-url").change(function(){
		//console.log($(this).attr("menu-id"));
		//console.log($(this).val());
		$.ajax({
			method: "GET",
			url: "menu/update",
			data: { id: $(this).attr("menu-id"), url: $(this).val() }
		})
				.done(function( msg ) {
					//alert( "Data Saved: " + msg );
					console.log("ok");
				});
	});

</script>


</body>

</html>